In [1]:
from dash.dependencies import Input, Output, State
from dash.exceptions import PreventUpdate
from dash_table import DataTable
from dash_table.FormatTemplate import Format
from matplotlib import rcParams
from plotly.subplots import make_subplots
from wordcloud import WordCloud, STOPWORDS
import advertools as adv
import collections
import dash
import dash_core_components as dcc
import dash_html_components as html
import dash_bootstrap_components as dbc
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import plotly.graph_objs as go
import plotly.express as px 
import re

In [2]:
twitter_df = pd.read_csv('/Users/jthompson/dev/DataZCW-Final-Project/Dashboard/twitter_sample_data.csv', index_col=0)

article_df = pd.read_csv('/Users/jthompson/dev/DataZCW-Final-Project/Dashboard/news_article_sample_data.csv', index_col=0)
article_df['date'] = pd.to_datetime(article_df['date'])

In [3]:
twitter_df.dtypes

time_stamp    object
text          object
location      object
state         object
score          int64
sentiment     object
dtype: object

In [4]:
article_df = pd.read_csv('/Users/jthompson/dev/DataZCW-Final-Project/Dashboard/news_article_sample_data.csv', index_col=0)

article_df['date'] = pd.to_datetime(article_df['date'])

In [5]:
article_df.dtypes

date         datetime64[ns]
content              object
title                object
state                object
score                 int64
sentiment            object
dtype: object

In [6]:
df = pd.concat([twitter_df, article_df], axis=0)

In [11]:
df.dtypes

time_stamp            object
text                  object
location              object
state                 object
score                  int64
sentiment             object
date          datetime64[ns]
content               object
title                 object
dtype: object

In [55]:
query = "unemployment"

In [56]:
article_df[article_df['content'].str.contains(query)]

,date,content,title,state,score,sentiment
author,,,,,,
0,2020-05-09,Yikes! #COVID19 effect on unemployment figures...,Alaska,AK,1,Positive
2,2020-05-09,RT @BvilleDailyNews: Missourians made nearly 5...,Arkansas,AR,1,Positive
3,2020-05-09,"Missourians made nearly 55,000 new unemploymen...",American Samoa,AS,-1,Negative
4,2020-05-09,"Missourians made nearly 55,000 new unemploymen...",Arizona,AZ,0,Nuetral
5,2020-05-09,Yikes! #COVID19 effect on unemployment figures...,California,CA,1,Positive
7,2020-05-09,RT @BvilleDailyNews: Missourians made nearly 5...,Connecticut,CT,1,Positive
8,2020-05-09,"Missourians made nearly 55,000 new unemploymen...",District of Columbia,DC,0,Nuetral
9,2020-05-09,"Missourians made nearly 55,000 new unemploymen...",Delaware,DE,0,Nuetral

In [12]:
article_df.tail()

,date,content,title,state,score,sentiment
author,,,,,,
53,2020-05-09,Pune-based BJ Medical College (BJMC) &amp; Sas...,Washington,WA,0,Nuetral
54,2020-05-09,RT @SakmenSA: #MadagascarMedicine\r\nIn #South...,Wisconsin,WI,1,Positive
55,2020-05-09,"Researchers in the @BCM_TropMed, and @TexasChi...",West Virginia,WV,0,Nuetral
56,2020-05-09,First #COVID19 vaccine test on animals success...,Wyoming,WY,-1,Negative
56,2020-05-09,First #COVID19 vaccine test on animals success...,Wyoming,WY,-1,Negative

In [23]:
df = article_df.groupby(['state','score']).agg({'score': "mean"})

In [25]:
df.columns

Index(['score'], dtype='object')

In [14]:
article_df.groupby(['state','score']).avg()

AttributeError: 'DataFrameGroupBy' object has no attribute 'avg'

In [ ]:
query = "unemployment"

In [ ]:
mask = np.column_stack([article_df['content'].str.contains(f"{query}", na=False) for col in article_df])
article_df.loc[mask.any(axis=1)]

In [ ]:
article_df['content'] = article_df['content'].str.contains(query, na=False)

In [ ]:
article_df

In [57]:
num_cols = [c for c in article_df.columns if 'count' in c]

In [58]:
num_cols

[]